{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <h1>Meal</h1>
        <div class="container mt-4">
            <div class="row">

                <div class="col-md-6 p-4 border">
                    <img class="card-img-top" src="https://placehold.co/600x400" alt="Pasta spaghetti" style="max-width:100%;height: 250px;">
                </div>

                <div class="col-md-6 p-4 border">
                    <p>★★★★★</p>

                    <h2>Nutrients table</h2>
                    <ul>
                        <li>cal</li>
                        <li>protein</li>
                        <li>fiber</li>
                        <li>carbohydrate</li>
                        <li>fat</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-12 p-4 border">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque id iusto reiciendis voluptatibus est eligendi maxime, ex nobis deleniti recusandae itaque velit modi earum fugit tenetur esse debitis veniam mollitia!</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 p-4 border">
                    <h2>Ingredients</h2>
                    <ul>
                        <li>chci</li>
                        <li>se</li>
                        <li>uz</li>
                        <li>konecne</li>
                        <li>zabit</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 p-4 border">
                    <h2>Process</h2>
                    <ul>
                        <li>1. koupim si provaz</li>
                        <li>2. zavazu si na nem smycku</li>
                        <li>3. pripevnim provaz na strop</li>
                        <li>4. ovinu si ho kolem krku</li>
                        <li>5. shodim podstavu</li>
                        <li>6. YEYYY</li>
                    </ul>
                </div>
            </div>

        </div>           
    </div>
{% endblock %}